<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "./components/head.njk" %}
</head>
    <body>
        <header>
            <div class="header">
                <a href="#">
                    <div class="logo">
                        <img src="../img/logo.png">
                    </div>
                </a>
                <div class="search">
                    <input type="text" name="search" placeholder="Search">
                    <i class="bi bi-search"></i>
                </div>
                <div class="menu">
                    <div class="icons">
                        <a href="#">
                            <img src="../img/icon.png">
                        </a>
                        <a href="#">
                            <img src="../img/secondicon.png">
                        </a>
                        <a href="#">
                            <img src="../img/thirdicon.png">
                        </a>
                    </div>
                    <div class="picture">
                        <a href="#">
                            <img src="../img/Avatar.png">
                        </a>
                        <a href="#">
                            <img src="../img/Arrow.png">
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <section id="overview">
            <div class="overview__header">
                <div class="add">
                    <h1>Overview</h1>
                    <div class="wrapper">
                        <a href="#">
                            <img src="../img/Plus.png">
                        </a>
                        <p>Add product</p>
                    </div>
                </div>
                <div class="popular">
                    <div class="wrapper">
                        <p>Popular</p>
                        <img src="../img/arrowdown.png">
                    </div>
                    <a href="#">
                        <div class="wrapper__lighter">
                            <img src="../img/lighter.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="overview__body">
                <div class="wrapper">
                    <div class="card">
                        <img class="skittles" src="../img/firstcard.png">
                        <div class="box">
                            <p class="number">12,500</p>
                            <div class="wrapper">
                                <p class="text">Card holder</p>
                                <p class="name">ORION</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="black" src="../img/secondcard.png">
                        <div class="box">
                            <p class="number">54,302</p>
                            <div class="wrapper">
                                <p class="text">Card holder</p>
                                <p class="name">Allen Pixels</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="rainbow" src="../img/thirdcard.png">
                        <div class="box">
                            <p class="number">38,864</p>
                            <div class="wrapper">
                                <p class="text">Card holder</p>
                                <p class="name">Alex</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overview__footer">
                <div class="wrapper">
                    <h3>Income</h3>
                    <p class="number">$32,134 <span class="increase">+2.5%</span></p>
                    <p class="text">Compared to $21,340 last month</p>
                </div>
                <div class="wrapper">
                    <h3>Expense</h3>
                    <p class="number">$4,541 <span class="decrease">-2.5%</span></p>
                    <p class="text">Compared to $5,540 last month</p>
                </div>
                <div class="wrapper">
                    <h3>Cashback</h3>
                    <p class="number">$1,324 <span class="increase">+4.5%</span></p>
                    <p class="text">Compared to $890 last month</p>
                </div>
                <div class="wrapper">
                    <h3>Monthly turnover</h3>
                    <p class="number">$87,324 <span class="decrease">-31%</span></p>
                    <p class="text">Compared to $196,129 last month</p>
                </div>
            </div>
        </section>
        <section id="fast-payment">
            <div class="fast__payment">
                <h3>Fast payment</h3>
                <a href="#">
                    <p>+</p>
                </a>
                <a href="#">
                    <p>Training <span>$650</span></p>
                </a>
                <a href="#">
                    <p>Internet <span>$45</span></p>
                </a>
                <a href="#">
                    <p>Gaz station <span>$135</span></p>
                </a>
                <a href="#">
                    <p>Cinema <span>$15</span></p>
                </a>
                <a href="#">
                    <p>Clothes <span>$700</span></p>
                </a>
                <a href="#">
                    <p>Coffee <span>$50</span></p>
                </a>
            </div>
        </section>
        <section id="transactions">
            <div class="wrapper">
                <div class="transaction">
                    <div class="transaction__tittle">
                        <div class="tittle">Last transaction</div>
                        <div class="arrows">
                            <a href="#">
                                <img class="leftarrow" src="../img/leftarrow.png">
                            </a>
                            <a href="#">
                                <img src="../img/rightarrow.png">
                            </a>
                        </div>
                    </div>
                    <div class="transaction__body">
                        <div class="wrapper">
                            <div class="time__location">
                                <div class="image">
                                    <img src="../img/apple.png">
                                </div>
                                <div class="text">
                                    <p class="main">Apple store</p>
                                    <p class="date">05.01.2020</p>
                                </div>
                            </div>
                            <div class="payment__method">
                                <div class="image">
                                    <img src="../img/visa.png">
                                </div>
                                <div class="text">
                                    <p>*4300</p>
                                    <p>Credit card</p>
                                </div>
                            </div>
                            <div class="sum">
                                -$135,00
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="time__location">
                                <div class="image">
                                    <img src="../img/starbucks.png">
                                </div>
                                <div class="text">
                                    <p class="main">Starbucks Cafe</p>
                                    <p class="date">04.01.2020</p>
                                </div>
                            </div>
                            <div class="payment__method">
                                <div class="image__second">
                                    <img src="../img/visa.png">
                                </div>
                                <div class="text">
                                    <p>*6589</p>
                                    <p>Credit card</p>
                                </div>
                            </div>
                            <div class="sum">
                                -$16,50
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="time__location">
                                <div class="image">
                                    <img src="../img/apoteke.png">
                                </div>
                                <div class="text">
                                    <p class="main">Pharmacy</p>
                                    <p class="date">04.01.2020</p>
                                </div>
                            </div>
                            <div class="payment__method">
                                <div class="image__third">
                                    <img src="../img/mastermastercard.png">
                                </div>
                                <div class="text">
                                    <p>*9054</p>
                                    <p>Credit card</p>
                                </div>
                            </div>
                            <div class="sum">
                                -$58,00
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="time__location">
                                <div class="image">
                                    <img src="../img/fork.png">
                                </div>
                                <div class="text">
                                    <p class="main">Spar</p>
                                    <p class="date">03.01.2020</p>
                                </div>
                            </div>
                            <div class="payment__method">
                                <div class="image__forth">
                                    <img src="../img/visa.png">
                                </div>
                                <div class="text">
                                    <p>*3288</p>
                                    <p>Credit card</p>
                                </div>
                            </div>
                            <div class="sum">
                                -$18,00
                            </div>
                        </div>
                    </div>
                </div>
                <div class="categories">
                    <div class="categories__tittle">
                        Top categories
                    </div>
                    <div class="wrapper">
                        <div class="chart">
                            <p class="text">Spend this week</p>
                            <p class="sum">$540</p>
                            <p class="percent">-2,5%</p>
                            <img class="chart1" src="../img/Chart1.png">
                        </div>
                        <div class="chart">
                            <p class="text">Spend this week</p>
                            <p class="sum">$1,531</p>
                            <p class="percent2">+5,4%</p>
                            <img class="spendings" src="../img/spendings.png">
                        </div>
                        <div class="chart">
                            <p class="text">Spend this week</p>
                            <p class="sum">87%</p>
                            <p class="percent2">+4,5%</p>
                            <img class="chart2" src="../img/Chart2.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>