@import "global";
@import "helpers/mixins";
@import "helpers/variables";

* {
  font-family: 'Inter', sans-serif !important;
  color: #F5F5FF;
}

body {
  background: #0F0F13;
}

header {
  background: #0F0F13;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 24px;

    .search {
      position: relative;
      margin-left: -700px;

      input {
        background: #000000;
        border-radius: 5px;
        border: none;
        width: 480px;
        height: 36px;
        padding-left: 40px;
      }

      i {
        position: absolute;
        left: 13px;
        top: 10px;
      }
    }


    .menu {
      display: flex;
      align-items: center;

      .icons {
        margin-right: 40px;

        img {
          margin-right: 24px;
        }
      }

      .picture {

        img:nth-child(1) {
          margin-right: 13px;
        }
      }
    }
  }
}

#overview {
  background: black;
  padding: 25px 224px;

  .overview__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .add {
      display: flex;
      align-items: center;

      h1 {
        font-size: 40px;
        font-weight: bold;
        margin-right: 24px;
        line-height: 60px;
      }

      .wrapper {
        display: flex;
        padding: 9px 20px;
        border: 2px solid #1E1E24;
        border-radius: 6px;

        img {
          width: 18px;
          height: 18px;
          margin-right: 12px;
        }

        p {
          font-weight: bold;
          font-size: 16px;
        }
      }
    }

    .popular {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .wrapper {
        display: flex;
        background: #1E1E24;
        border-radius: 6px;
        padding: 9px 20px;
        margin-right: 8px;

        p {
          font-size: 16px;
          font-weight: bold;
          margin-right: 12px;
        }

        img {
          width: 18px;
          height: 18px;
        }
      }

      .wrapper__lighter {
        padding: 9px;
        background: #1E1E24;
        border-radius: 6px;

        img {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .overview__body {

    .wrapper {
      display: flex;
      justify-content: space-between;

      .rainbow {
        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.25);
      }

      .card {
        position: relative;

        .box {
          position: absolute;
          top: 85px;
          left: 23px;

          .number {
            font-weight: 800;
            font-size: 36px;
            line-height: 35px;
            margin-bottom: 54px;
          }

          .wrapper {
            display: flex;
            align-items: center;

            .text {
              font-size: 9px;
              line-height: 11px;
              margin-right: 10px;
            }

            .name {
              font-weight: bold;
              font-size: 12px;
              line-height: 15px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  .overview__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;

    .wrapper {

      h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        color: #D0D0DA;
      }

      .number {
        font-weight: bold;
        font-size: 28px;
        line-height: 35px;
        color: #FFFFFF;
        margin-top: 9px;
        margin-bottom: 1px;

        .increase {
          font-weight: bold;
          font-size: 16px;
          line-height: 28px;
          color: #15FFAB;
        }

        .decrease {
          font-weight: bold;
          font-size: 16px;
          line-height: 28px;
          color: #FD4438;
        }
      }

      .text {
        font-size: 14px;
        line-height: 16px;
        color: #5B5B65;
      }
    }
  }
}

#fast-payment {
  background: black;
  padding: 30px 225px;
  margin-top: 1px;

  .fast__payment {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 18px;
    }

    p {
      font-size: 14px;
      line-height: 16px;
      border-radius: 100px;
      background: #1E1E24;
      padding: 10px 16px;

      span {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}

#transactions {
  padding: 40px 225px 50px;

  .wrapper {
    display: flex;
    justify-content: space-between;

    .transaction {
      width: 45%;

      .transaction__tittle {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;

        .tittle {
          font-weight: 600;
          font-size: 28px;
          line-height: 34px;
        }

        .arrows {

          .leftarrow {
            margin-right: 5px;
          }
        }
      }

      .transaction__body {

        .wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 22px;

          .time__location {
            display: flex;

            .image {
              background: #000000;
              border-radius: 8.72727px;
              padding: 8px;
              margin-right: 5px;

              img {
                width: 16px;
                height: 16px;
              }
            }

            .text {

              .main {
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;
              }

              .date {
                font-size: 12px;
                line-height: 16px;
                color: #70707C;
              }
            }
          }

          .payment__method {
            display: flex;

            .image {
              margin-left: -2px;
            }

            .image__second {
              padding: 8px;
              background: #2469EB;
              box-shadow: 0px 27px 58px rgba(43, 83, 255, 0.21),
              0px 11.28px 24.231px rgba(43, 83, 255, 0.150959),
              0px 6.0308px 12.9551px rgba(43, 83, 255, 0.125183),
              0px 3.38082px 7.2625px rgba(43, 83, 255, 0.105),
              0px 1.79553px 3.85706px rgba(43, 83, 255, 0.0848175),
              0px 0.747159px 1.60501px rgba(43, 83, 255, 0.0590406);
              border-radius: 5px;
              margin-right: 5px;
              margin-left: -40px;
            }

            .image__third {
              background: #2C2C35;
              border-radius: 5px;
              margin-right: 5px;
            }

            .image__forth {
              background: #2C2C35;
              border-radius: 5px;
              margin-right: 5px;
              padding: 8px;
              margin-left: 2px;
            }

            .image {
              padding: 8px;
              background: linear-gradient(61.26deg, #FF2B2B 11.27%, #F83939 105.25%);
              box-shadow: 0 27px 58px rgba(206, 21, 21, 0.16),
              0 11.28px 24.231px rgba(206, 21, 21, 0.115017),
              0 6.0308px 12.9551px rgba(206, 21, 21, 0.0953772),
              0 3.38082px 7.2625px rgba(206, 21, 21, 0.08),
              0 1.79553px 3.85706px rgba(206, 21, 21, 0.0646228),
              0 0.747159px 1.60501px rgba(206, 21, 21, 0.0449833);

              border-radius: 5px;
              margin-right: 5px;

            }

            .text {

              p {
                font-size: 12px;
                line-height: 16px;
                color: #8A8A98;
              }
            }

            .sum {
              font-weight: bold;
              font-size: 18px;
              line-height: 22px;
              color: #FFFFFF;
            }
          }
        }
      }
    }

    .categories {
      width: 46%;

      .categories__tittle {
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 18px;
      }

      .wrapper {
        display: flex;
        justify-content: space-between;

        .chart {
          padding: 24px 20px;
          width: 183px;
          height: 220px;
          background: #000000;
          border-radius: 12px;
          position: relative;

          .text {
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            margin-bottom: 14px;
          }

          .sum {
            font-weight: 600;
            font-size: 20px;
            line-height: 18px;
            color: #FFFFFF;
            margin-bottom: 9px;
          }

          .percent {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            color: #FD4438;
          }

          .percent2 {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            color: #38FDB6;
          }

          .chart1 {
            top: 135px;
            position: absolute;
            left: -43px;
          }

          .chart2 {
            left: 12px;
            position: absolute;
            top: 106px;
          }

          .spendings {
            left: -56px;
            position: absolute;
            top: 142px;
          }
        }
      }
    }
  }
}
